body{
    background-color: #f5dbda;
    font-family: 'Special Elite',cursive;
}
h3{
    font-size: 30px;
}
.header_div{
    color: red;
    background-color: white;
}
.header_div img{
width: 100px;
}
.main_div{
    background-color: #ffd2c7;
    margin-top: 15px;
    padding: 10px;
    border: 3px solid white;
}
.main_div label{
    box-shadow: 5px 5px 18px white;
    background-color: white;
    width: 310px;
    margin-bottom: 0px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
}
#camera{
    width: 310px;
    border: 2px solid white;
    box-shadow: 5px 5px 18px white;
    height: 300px;
}
#capture{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid white;
}
#check{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid white;
}
#result{
    width: 310px;
    border: 2px solid white;
    box-shadow: 5px 5px 18px white;
    height: 300px;
}
.footer_div{
    margin-bottom: 50px;
}
.footer_div h4{
    background-color: white;
    box-shadow: 5px 5px 18px white;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
}
.footer_div img{
    width: 70px;
}
.copy_right{
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    line-height: 3px;
    text-align: center;
}